@import "tailwindcss";

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --color-primary: #f97316;
  --color-secondary: #10b981;
  --color-accent: #ff6242;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* Preline UI */
@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";

.cv-gradient {
  @apply bg-linear-to-r from-orange-500 via-amber-400 to-emerald-500 to-80% bg-clip-text text-transparent;
}

h1 {
  @apply lg:text-6xl md:text-6xl sm:text-5xl text-4xl font-bold;
}

h2 {
  @apply lg:text-7xl md:text-5xl sm:text-5xl text-4xl font-semibold;
}

h3 {
  @apply lg:text-4xl md:text-3xl sm:text-2xl font-semibold;
}

h4 {
  @apply lg:text-2xl sm:text-xl;
}

.btn {
  @apply bg-primary hover:bg-white hover:text-primary rounded-lg p-4 text-white border-2 border-primary transition-colors;
}

.btn-invert {
  @apply bg-white hover:bg-primary hover:text-white rounded-lg p-4 text-primary border-2 border-primary transition-colors;
}

.btn-lg {
  @apply border-2 border-primary bg-primary hover:bg-white hover:text-primary rounded-lg p-6 text-white text-lg transition-colors;
}

tbody > tr {
  @apply hover:bg-orange-50;
}

th,
td {
  @apply border border-slate-400 p-5;
}

.header-row {
  @apply font-semibold;
}

.skill {
  @apply p-2 text-xl border-2 border-primary text-emerald-700 rounded-md;
}

.tech-used {
  @apply p-2 text-sm bg-gray-200 text-gray-500 rounded-md hover:bg-linear-to-r hover:from-orange-500 hover:to-green-400 hover:text-white transition-colors;
}

.social {
  @apply m-5 size-7;
}

.scheduled {
  @apply bg-yellow-100;
}

.completed {
  @apply bg-green-200;
}

.overlay {
  @apply absolute inset-0 bg-black/50 flex items-center justify-center text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out rounded-lg;
}

.remote {
  @apply bg-primary p-1 ml-3 text-sm text-white rounded-lg w-20 h-7 sm:flex hidden;
}

.offer {
  @apply bg-green-800 text-white;
}

input {
  @apply border-2 border-primary rounded-md mb-5 p-3;
}

label {
  @apply font-semibold text-xl mb-2;
}

.disable {
  @apply opacity-25 border-2 border-primary bg-white rounded-lg p-4 text-primary cursor-not-allowed;
}

.header-link {
  @apply ml-3 border-b-4 border-white hover:border-primary p-1 transition-all;
}

.chat-box {
  @apply ring-1 ring-primary rounded-lg h-[50vh] overflow-scroll p-8 mt-10 inset-shadow-sm mb-2 relative;
}
